body {
    background-color: #1d1d1c;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
  }
  .text {
    color:blueviolet;
    font-size: 70px;
    margin: 80 auto;
    text-align: center;

  }
  h1 {
    color: rgb(135, 0, 212);
    font-size: 100px;
    text-align: center;
  }
  a {
    color: rgb(205, 43, 226);
  }