body {
    background-color: #1d1d1c;
    font-family: "Caveat"
    text-align: center;
  }
  @font-face {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .text {
    color:blueviolet;
    font-size: 70px;
    margin: 80px auto;

  }
  h1 {
    color: rgb(135, 0, 212);
    font-size: 100px;
    text-align: center;
  }
  a {
    color: rgb(255, 17, 17);
  }