@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
body {
    background-color: #0e0e0d;
    font-family:"Micro 5", system-ui;
    text-align: center;
  }


  .text {
    color:rgb(120, 0, 233);
    font-size: 70px;
    margin: 80px auto;

  }
  h1 {
    color: rgb(135, 0, 212);
    font-size: 100px;
    text-align: center;
  }
  a {
    color: rgb(255, 17, 17);
  }